/*BUTTONS*/
.button_ghost {
	display: block;
	text-align: center;
	width: 180px;
	height: 50px;
	font-weight: 300;
	margin: .5em auto;
	padding: 8px;
	color: $logo-2;
	background-color: $color_button_1;
	font-size: 1.3em;
	border: 2px solid $logo-2;
}


.button_ghost:hover,
.button_ghost:active {
	font-weight: 100;
	text-decoration: none;
	background-color: $logo-2;
	color: $color_button_4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
		transition: all .3s;  
}

.button_ghost_wide {
	display: block;
	width: 80%;
	height: 50px;
	font-weight: 300;
	margin: .5em auto;
	padding: 8px;
	text-align: center;
	color: $logo-2;
	background-color: $color_button_1;
	font-size: 1.3em;
	border: 2px solid $logo-2;
}


.button_ghost_wide:hover,
.button_ghost_wide:active {
	font-weight: 100;
	text-decoration: none;
	background-color: $logo-2;
	color: $color_button_4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
		transition: all .3s;  
}

.button_flat {
	font-weight: 400;
	margin: .5em auto;
	padding: 8px;
	display: block;
	text-align: center;
	color: $logo-1;
	background-color: $gray-3;
	font-size: 1.3em;
	width: 180px;
	height: 50px;
	border: 2px solid $logo-1;
}


.button_flat:hover,
.button_flat:active {
	font-weight: 100;
	text-decoration: none;
	background-color: $logo-1;
	border: 2px solid $logo-1;
	color: $color_button_4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;  
}

.button_raised {
	font-weight: 200;
	margin: .5em auto;
	padding: 8px;
	display: block;
	text-align: center;
	color: $color_text_2;
	background-color: $logo-2;
	font-size: 1.3em;
	width: 180px;
	height: 50px;
	border: 2px solid $logo-2;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.button_raised:hover,
.button_raised:active {
	font-weight: 100;
	text-decoration: none;
	background-color: $logo-1;
	border: 2px solid $logo-1;
	color: $color_button_4;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
		transition: all .3s;  
}