@import "custom/master";

body,
button,
input,
select,
textarea {
	color: $color_text_1;
	font-family: $font_text;
	line-height: $font__line-height-body;
}

p {
	color: $color_text_3;
}

@import "headings";

@import "copy";