$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* =custom colors */
$color_text_1: #1C1C1C;	/* Dark Gray */
$color_text_2: #FFFFFF;  /* White */
$color_text_3: #5e5e5e;  /* medium gray */

$logo-1: #274167; /* navy */
$logo-2: #3D6E97; /* medium blue */
$logo-3: #C5BEA2; /*gold from map */
$logo-4: #009900;
$logo-5: #ff9900;

$white: #FFF;
$gray-1: #E9E6E0;
$gray-2: #d3d3d3;	
$gray-3: #bdbdbd;	
$gray-4: #a8a8a8;	
$gray-5: #7e7e7e;
$gray-6: #3f3f3f;
$black: #000;

$color_button_1: rgba(255,255,255,.6);	/* White-transparent */
$color_button_2: #000;					/* Black */
$color_button_3: #E1E1E1;	/* Light Gray */
$color_button_4: #fff;					/* White */

$color_header_1: rgba(250,250,250,.8);  /* transparent darkest */
$color_header_2: rgba(60,60,60,.9);  /* transparent slightly lighter (hover) */

/* =link colors */
$color__link: $color_text_3;
$color__link-visited: $color_text_3;
$color__link-hover: $logo-2;
$color__text-main: $color_text_1;
