/*=header*/
.image_logo {
    max-height: 70px;
    padding: 4px;
}

.main-navigation {
    position: fixed;
    z-index: 999;
    margin: 0 auto;
    text-decoration: none;
    width: 100%;
    background-color: $color_header_1;
    padding: .5em 0;}

.main-navigation ul {
    list-style:none;
    margin:0 auto;
    padding:0;
    text-align: center;
}

.main-navigation ul:before,.main-navigation ul:after {
    content:"";
    display:table;
}

.main-navigation ul:after {
    clear:both;
}

.main-navigation ul > li {
    display: inline-block;
    position: relative;
    text-align: center;
    min-width: 100px;
}

.main-navigation a {
    height: 70px;   /* this must agree to two classes below*/
    font-size: 18px;
    font-family: $font_nav;
    padding: 28px 20px 26px 20px;
    line-height:1.2em;
    color:$color_text_1;
    text-decoration: none;
}

.main-navigation a:hover {
    color: $white;
    text-decoration:none;
    background-color: $color_header_2;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.main-navigation .logo_header a:hover {
    color: $white;
    text-decoration:none;
    background-color: $logo-2;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.main-navigation li ul {
    background-color: $color_header_1;
}

.main-navigation li ul li {
    width:220px;
}

.main-navigation li ul a {
    padding: 8px 12px;
    font-size: 16px;
}

.main-navigation li ul a:hover {
    background: $logo-2;
}

.main-navigation li ul {
    position: absolute;
    left:0;
    top:70px;   /* make sure this agrees to "main-navigation a" height*/
    z-index:1;
}
.main-navigation li ul li {
    overflow:hidden;
    height:0;
    transition:height 250ms ease-in;
}
.main-navigation ul > li:hover ul li {
    height:36px;
}

.content-area {
    margin-top: 70px;   /* make sure this agrees to "main-navigation a" height*/
}

.logo_a {
        display: inline-block;
        max-height: 70px;
    }

@media screen and (max-width: 700px) {

    .main-navigation {
        display: none;
    }
    .content-area {
        margin-top: 54px;
    }
    .logo_a {
        display: none;
    }
}

/*social media icons*/
.plain_container {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    .fa {
        padding: .8em 1em 0 1em;
    }
}

@media screen and (min-width: 992px) {
    .plain_container .fa {
        width: 30%;
        padding-top: 1.5em;
        }
    }

.main-navigation .plain {
    padding: 0;
    margin: 0;
}

.main-navigation .plain:hover {
    background-color: transparent;
    color: $color-text-1;
}

/*footer*/
.site-footer {
    background-color: $gray-5;
    font-size: .8em;
    padding: .3em;
    p {
        margin: .4em auto;
        color: $logo-3;
    }
}