.center {
	text-align: center;
}

hr {
	height: 1px;
	background-color: $gray-3;
	width: 90%;
}

.break {
	width: 100%;
	min-height: 360px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-color: $white;
	padding: 7em 0;
	text-align: center;
	color: $white;
}

.inline {
	display: inline-block;
}

.grit {
  -webkit-mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
  mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
}

.outlined {
	padding: .3em 1em;
	font-size: .9em;
}

.home_logo {
	margin: 5em auto 4em auto;
}

.image_full {
	margin-top: 2em;
	box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, .4);
}

.small_margin {
	margin: .1em 0;
}

.bottom_margin {
	margin: 0 0 .8em 0;
}

.main_header {
	width: 95%;
	padding: 1.5em;
	margin: 2em auto 4em auto;
	background-color: $gray-1;
	color: $logo-1;
	text-align: center;
	border: 4px solid $logo-3;
	@media (min-width: 992px) {
		width: 80%;
	}
}

.no_small {
	display: none;
	@media (min-width: 768px) {
		display: block;
	}
}

#landing {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-color: $white;
	min-height: 700px;
	margin-top: -70px;	
	padding: 3em 0 5em 0;
	z-index: 1;
}

#menu_main {
	padding: 4em 0 6em 0;
	z-index: 3;
	background-repeat: auto;
}

.menu_class {
	text-transform: uppercase;
	margin: 1em auto .5em auto;
}

.left_small {
	background-color: $gray-3;
	margin: 0 auto .5em 0;
	width: 200px;
}

.menu_list{
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		margin: .5em 0;
		font-size: .8em;
	}
	p {
		margin: 0;
		padding: 0;
	}
	b {
		margin: 0 .5em 0 0;
	}
}

.beer_p {
	display: inline-block;
	font-size: .8em;
	margin: 0;
	padding: 0;
}

#about {
	padding: 6em 0;
	background-color: $gray-1;
}

#contact {
	padding: 4em 0 6em 0;
	p {
		font-size: .9em;
	}
	.reduce_margin {
		margin: 0 .5em;
	}
}

.contact_top {
	margin: 0 0 4em 0;
}

.map_container {
	width: 100%;
}

/*social media*/
.social_container {
	text-align: center;
	margin-top: .4em;
}

.fa-stack-2x {
    color: $logo-3;
}

.fa-stack-1x {
    color: $color_text_2;
}
.fa-facebook:hover {
        color: #3b5998;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        -o-transition: all 250ms ease-in;
        transition: all 250ms ease-in;
    }
.fa-twitter:hover {
        color: #00aced;
        -webkit-transition: all 250ms ease-in;
        -moz-transition: all 250ms ease-in;
        -o-transition: all 250ms ease-in;
        transition: all 250ms ease-in;
    }
.fa-instagram:hover {
    color: #517fa4;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

/*blog*/
.event_post {
	margin: 6em 0;
}

#blog_roll {
	margin: 6em 0;
}

