/*TYPOGRAPHY*/
$font_header: Muli, sans-serif;	/* Google Fonts */
$font_text: Merriweather, serif;	/* Google Fonts */
$font_nav: Special Elite, cursive;  /* Google Fonts */

h1,h2,h3,h4,h5,h6 {
	font-family: $font_nav;
	font-weight: 300;
	margin: .5em auto;
	padding: 0;
}

p,
i,
body,
button,
input,
select,
textarea {
	font-family: $font_text;
	font-weight: 300;
	font-size: 1em;
	font-color: $color_text_3;
}


/*FONT SIZES*/
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}